<article class="container tab-viewer">
    <section class="tabs-grid">
        <div class="tabs">
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
            <div class="tab">
                <img id="test" src="../../assets/images/home-two.jpg" alt="" srcset="">
                <h3 id="test-two">Name of tab</h3>
            </div>
        </div>
    </section>
    <section class="viewer">

    </section>

    <section class="buttons">
        <button class="btn btn-info" id="update">Update Tab</button>
        <button class="btn" id="delete">Delete Tab</button>
    </section>

</article>