
$background-color:#eae2b7;

html,body{
    margin:0;
    padding:0;
    font-size:4.125vw;
    font-family:'Sora', sans-serif;
    min-height:100vh;
    background-color:$background-color;
}


@media screen and (min-width:768px){
    html,body {
        font-size:2.125vw;
    }
}

@media screen and (min-width:1024px){
    html,body {
        font-size:1.125vw;
    }
}