<main class="home">
    <section class="hero">
        <article id="grid-home">
        <div class="hero-header">
            <h2>Welcome to Tably</h2>
            <small>A tool for creating better looking tablature</small>
        </div>
        <div class="hero-signup">
            <a id="signup-btn">Get started</a>
        </div>
    </article>
    </section>

    <section class="preview">
        <div id="tab-preview"></div>
        <p id="tab-text">
            Learn the notes of your guitar with our improved tabs, or try out our tablature player.   
        </p>

    </section>
</main>