<main class="home">
    <article id="grid-home">
        <div class="hero-header">
            <h2>Welcome to Tably</h2>
            <small>A tool for creating better looking tablature</small>
        </div>
        <div class="hero-signup">
            <a id="signup-btn" routerLink="../register">Get started</a>
        </div>
    </article>
    <section class="hero">
        
    </section>

    <section class="preview">
        <div class="desktop-grid-one">
        <p id="tab-text">
            Learn the notes of your guitar with our improved tabs.   
        </p>
        
        <div id="tab-preview"></div>
        </div>
        <hr/>
        <div class="desktop-grid-two">
        <p id="tab-text" class="desktop-switch-one">
           Listen to your tabs with our tab playing tool.   
        </p>
        <div id="tab-preview" class="desktop-switch-two"></div>
        </div>
    </section>
</main>

<!-- <footer>
    <section class="footer-grid">
        -->
        <!-- <p>Tably</p> -->
    <!-- </section>


</footer> -->