$secondary-color:#003049;
$background-color:#eae2b7;


.home {
    min-height:100vh;
    box-sizing: border-box;
}

.hero{
   
    background: url('../../assets/images/home-two.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
    padding-top:3vh;
    padding-bottom: 5vh;
}
#grid-home{
    
    background-color:$background-color;
    padding-top:5vh;
    color:black;
    height: 35vh;
}

.hero-header { 
    font-weight:600;
    letter-spacing: 0.1em;
    text-align:center;
    
   
}

.hero-signup {

   text-align:center;
   margin-top:3rem; 
}

#signup-btn {
    border-radius:10px;
    padding:0.8rem;
    background-color:#9d0207;
    font-size:1.3rem;
    font-weight:600;
    letter-spacing: 0.2rem;
    color:white;
    text-decoration: none;
    transition: background-color ease 200ms;
    transition: box-shadow ease 200ms; 
}

#signup-btn:focus,
#signup-btn:hover{
    box-shadow: 0 0 0 2pt #c51a17;
    background-color: #c51a17;
}

.preview{
   
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.2fr 0.5fr 1fr 2.2fr;
    row-gap: 1em;
    background:#eae2b7;
    color:#424242;
    text-align:center;
    padding: 5em 2em 1em 2em;

}
.desktop-grid-one{
    display:contents;
}
.desktop-grid-two{
    display:contents;
}

#tab-preview {
    background:url('../../assets/images/home-two.jpg');
    height: 100%;
    margin-top:0.5em;
    transition: box-shadow ease 500ms; 
    background-size: cover;
    width:100%;
   
}


#tab-preview:hover,
#tab-preview:focus  {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 4px 15px 0px, rgba(60, 64, 67, 0.15) 0px 4px 6px 4px;
  
    
}

#tab-text{
    
   
   
    background: inherit;
    transition: box-shadow ease 500ms;  
    border-radius:10px;
    padding:20px 10px 10px 10px;
    height:100%;
}

#tab-text:hover,
#tab-text:focus  {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
    
}

hr {
    border-color: rgba(0,0,0,.12);
    margin: 3.5em;
    border-width: 1px 0 0;
}



footer {
    background-color:#fafafa;
    text-align: center;
    font-size:1rem;
    color:#424242;
    margin-bottom:5em;
    height:20vh;
}


@media screen and (min-width:768px){
   .home{
       min-height:100vh;
   }

    #grid-home{
        height:30vh;
    }
    //Hero
    .hero{
        height:60vh;
        
    }

    //Preview
    .preview{
        height:100%;
        padding: 1em 8em 2em 8em;
       
    }

    #tab-preview {
        width:100%;
        max-height: 95%;
       
    }

    #tab-text{
        padding:5% 10px 10px 10px;
        height:80%;
    }
    
    //footer
    footer {
        height:40vh;
    }
}


@media screen and (min-width:1024px){
   
    //Hero
    .hero{
        height:80vh;
        
    }
    #grid-home{
        height:50vh;
        
    }
    h2 {
        font-size:3.6rem;
    }
    small {
        font-size:1rem;
    }

    #signup-btn {
        border-radius:10px;
        padding:0.8rem;
        
        font-size:1.6rem;
        font-weight:600;
    
    }


    //Preview
    .preview{
        display:block;
        padding: 10% 10em 2em 10em;
        font-size:1.5rem;
        min-height:100vh;
    }
    .desktop-grid-one{
        display:grid;
        grid-template-rows:30% 70%;
        grid-template-columns: 1fr;
        height:100vh;
        margin-bottom:5em;
        column-gap:1em;
    }
    hr {
        display: none;
    }
    .desktop-grid-two{
        display:grid;
        grid-template-rows:30% 70%;
        grid-template-columns: 1fr;
        padding-bottom:1em;
        height:100vh;
        column-gap:1em;
    }
   
    #tab-preview {
        width:100%;
       
    }

    #tab-text{

        margin: 0 4em 0 4em;
        padding:1.2em 10px 1em 10px;
        height:60%;
    }
    
    //footer
    footer {
        height:20vh;
    }

}